html,
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

body {
    background-color: #464646;
}

.Wrapper {
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
}

header {
    padding: 0.5em;
    background-color: #1b1b1b;
}

.HeaderContent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &__item {
        margin: 0px;
        padding: 0px;
        display: inline-block;
    }
}

.HeaderLogo {
    margin: 0px 1.5em 0px 0px;
    &__item {
        vertical-align: middle;
    }
    &__link {
        text-decoration: none;
    }
    &__image {
        width: 48px;
        height: 48px;
    }
    &__label {
        font-size: 0.75em;
        color: #ffffff;
    }
}

.HeaderNavList__link {
    padding: 0.25em 0.5em;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 2;
    font-weight: bold;
    font-size: 16px;
    color: #dedede;
    &--current {
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px #520b0b inset !important;
        color: #ffffff !important;
        background-color: #8b0000;
    }
    &:hover {
        transition: color 0.25s;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px #000000 inset;
        color: #dc143c;
    }
}

main {
    display: block;
    text-align: center;
}

.FooterContent {
    width: 100%;
    bottom: 0px;
    position: absolute;
    text-align: center;
    color: #c0c0c0;
    background-color: #1e1e1e;
    &__link {
        text-decoration: none;
        color: #ffffff;
        &:hover {
            transition: color 0.25s;
            color: #ff0000;
        }
    }
}

.Message {
    &__title {
        font-size: 3.2em;
        color: #fffafa;
    }
    &__content {
        font-size: 1.5em;
        color: #d3d3d3;
    }
}

.main__title {
    color: #ffffff;
}

.Content {
    margin: 1em;
    min-width: 25%;
    display: inline-block;
    text-align: left;
}

.ContentSection {
    &__title {
        margin: 0px;
        padding: 0.5em;
        border-left: solid 4px #dc143c;
        line-height: 1;
        color: #ffffff;
        background-color: #808080;
    }
    &__content {
        margin: 0px;
        padding: 2em 1em 1em 1em;
        color: #cacaca;
    }
}

.SymbolWrapper {
    text-align: center;
}

.Symbol {
    border: solid 1px #808080;
    display: inline-block;
    &__image {
        width: 216.9px;
        height: 216.9px;
        vertical-align: middle;
    }
    &__label {
        font-size: 14px;
        color: #1f1f1f;
        background-color: #d3d3d3;
    }
}

.JoinBtn {
    text-align: center;
    &__link {
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.5;
        position: relative;
        display: inline-block;
        padding: 0.5rem 2rem;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
        letter-spacing: 0.1em;
        border-radius: 0.5rem;
        color: #ffffff;
        background-color: #d20010;
        border-bottom: 5px solid #9f000c;
        &:hover {
            margin-top: 3px;
            color: #ffffff;
            background: #d20010;
            border-bottom: 2px solid #9f000c;
        }
    }
}

.anchor {
    text-decoration: none;
    color: #00aff4;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}
